In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [9]:
df_district_code = pd.read_csv("London District codes(1).csv")
df_district_code.head()

               District Districtcode
0  Barking and Dagenham         00AB
1                Barnet         00AC
2                Bexley         00AD
3                 Brent         00AE
4               Bromley         00AF

In [7]:
info=pd.DataFrame(df_dictrict_code.dtypes).T.rename(index={0:'Data type'})
info=info.append(pd.DataFrame(df_dictrict_code.isna().sum()).T.rename(index={0:'Null values count'}))
info=info.append(pd.DataFrame(df_dictrict_code.isna().sum()/df_dictrict_code.shape[0]*100).T.
                         rename(index={0:'Null values (%)'}))
info=info.append(pd.DataFrame(df_dictrict_code.min()).T.rename(index={0:'Min values'}))
info=info.append(pd.DataFrame(df_dictrict_code.max()).T.rename(index={0:'Max values'}))
info

                               District Districtcode
Data type                        object       object
Null values count                     0            0
Null values (%)                     0.0          0.0
Min values         Barking and Dagenham         00AB
Max values                  Westminster         00BK

<class 'str'>